{% extends "layer.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pro.css') }}">
<div class="profile-container">
    <h1>ข้อมูลส่วนตัวของคุณ</h1>
    
    <div class="profile-info">
        <p><strong>ชื่อ:</strong> {{ student.name }}</p>
        <p><strong>อีเมล:</strong> {{ student.email }}</p>
        <p><strong>คอร์สที่เรียน:</strong> {{ student.course }}</p>
    </div>

    <div class="profile-actions">
        <a href="{{ url_for('student.update_student') }}" class="btn-edit">แก้ไขข้อมูลส่วนตัว</a> <!-- ลิงค์ไปยังหน้าแก้ไขข้อมูลส่วนตัว -->
        <br><br>
        <a href="{{ url_for('auth.logout') }}" class="btn-logout">ออกจากระบบ</a>
    </div>
</div>
{% endblock %}
